.play-background {
	background: rgb(47, 49, 54) url('../../../public/img/play-bg.webp') center;
	min-height: 100% !important;
	background-size: cover;
	height: 100vh;
	overflow: auto;
	padding-top: 10%;
}
.play {
	margin-top: 0px;
}
