::selection {
	background: #5e178a;
}
.white {
	color: white !important;
}
.no-padding-margin {
	padding: 0;
	margin: 0;
}
.bold {
	font-weight: bold;
}
.page {
	margin-top: 2%;
}
a {
	text-decoration: none;
	color: inherit;
}
.normalize-link {
	color: #0196ff !important;
}
.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
/* We need to wrap the site with flexbox to make sure the footer is always at the bottom of the page */
.flex-wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}
